body {
    background-color: #d9d9d9;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding:0;
}

header{
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e88e5;
    height: 150px;
}

.header-intro h1 {
    margin: 0;
}

.header-intro p {
    margin: 6px;
    font-style: italic;
}

nav {
    background-color: black;
    border-radius: 10px;
    margin:0;
    padding:0;
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin: 0.5rem;
}
.cuadro {
    max-width: 900px;
    background-color: white;
    border: 4px;
    border-color: black;
    border-style: outset;
    border-radius: 10px;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
}

.cuadro p {
    max-width: 600px;
    margin-top: 10px;
    line-height: 1.5;
    font-size: 0.9rem;
    text-align: justify;
}
     
.barra {
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
}

.barra p {
    margin: 0;
}

.barra progress {
    width: 60%;
}

.cuadro h3 {
    font-size: 14px;
    text-decoration: underline;
}

footer {
    text-align: center;
    line-height: 100px;
    font-size: 16px;
    background-color: rgb(0, 174, 255);
    height: 100px;
    border-radius: 20px;
}

@media (max-width: 700px) {
    .header{
        width:90%;

    nav {
        width: 100%;
    }
}
